/*
div {
    outline: 2px dotted yellow;
}


for at ændre objekternes position, skal man sætte en position: absolute.

z-index bestemmer hvilken rækkefølge de bliver vist i, hvoraf 0 er bagerst og +100 er øverst (ligesom lag i photoshop, indesign, osv.)

hvis man tilføjer overflow: hidden; på ens baggrund, så går de andre objekter ikke ud over billedet (prøv evt. at fjerne det, for at se hvad der sker)

man bestemmer positioner ved at skrive top, left, right, bottom - som oftest er top og left nok.*/

body {
    margin: 0;
    padding: 0;
}

#scene {

    width: 100vw;
    /* svarer til 2600px */
    height: 56.25vw;
    /* svarer til 900 px */
    position: relative;
    overflow: hidden;
}

#baggrund {
    background-image: url("grafik/baggrund-01.svg");
    background-size: 162.5%;


    width: 100vw;
    height: 56.5vw;

    position: absolute;
    overflow: hidden;
}


#skildpaddeskjold {
    background-image: url("grafik/skildpaddeskjold.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 12.4vw;
    height: 8vw;
    position: absolute;
    top: 55vw;
    left: 133vw;
    z-index: 0;
    transform: scale(0.3, 0.3);
}


#abe {
    background-image: url("grafik/abe-01.svg");
    background-size: 100%;
    width: 16vw;
    height: 24vw;

    left: 55vw;
    top: 30vw;

    position: absolute;
    transform: scale(0.5, 0.5);

    animation-name: abee;
    animation-duration: 5s;
    animation-delay: 2s;
}

#gorilla {
    background-image: url("grafik/gorilla.svg");
    background-repeat: no-repeat;
    background-size: 100%;

    width: 30vw;
    height: 41vw;

    left: 34vw;
    top: 20vw;

    position: absolute;
    transform: scale(0.5, 0.5);

    animation-name: gorillaa;
    animation-duration: 4s;
    animation-delay: 2s;
}

#forgrund {
    background-image: url("grafik/forgrund-01.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 163vw;
    height: 56.25vw;
    position: absolute;
    z-index: +100;

}


@keyframes abee {
    from {
        left: -10vw;
        top: 30vw;
    }

    to {

        left: 55vw;
        top: 30vw;
    }
}

@keyframes gorillaa {
    from {
        left: -10vw;
        top: 20vw;
    }

    to {
        left: 34vw;
        top: 20vw;
    }
}

/* -------- SKY */

/*--------- BIRD -------- */

#fugl1 {
    background-image: url("grafik/fugl.png");
    background-size: 100%;
    width: 22vw;
    height: 4.2vw;
    position: absolute;
    top: 20vw;
    left: 100vw;
    z-index: 3;
    transform: scale(0.1, 0.1);
    animation: move 15s infinite linear;
    animation-name: fugll;

}

#fugl2 {
    background-image: url("grafik/fugl.png");
    background-size: 100%;
    width: 22vw;
    height: 4.2vw;
    position: absolute;
    top: 20vw;
    left: 100vw;
    z-index: 3;
    transform: scale(0.1, 0.1);
    animation: move 15s infinite linear;
    animation-name: fugll;
    animation-delay: 2s;

}

#fugl3 {
    background-image: url("grafik/fugl.png");
    background-size: 100%;
    width: 22vw;
    height: 4.2vw;
    position: absolute;
    top: 20vw;
    left: 100vw;
    z-index: 3;
    transform: scale(0.1, 0.1);
    animation: move 10s infinite linear;
    animation-name: fuglll;

}

#fugl4 {
    background-image: url("grafik/fugl.png");
    background-size: 100%;
    width: 22vw;
    height: 4.2vw;
    position: absolute;
    top: 30vw;
    left: 50vw;
    z-index: 3;
    transform: scale(0.1, 0.1);
    animation: move 8s infinite linear;
    animation-name: fugllll;

}

#fugl5 {
    background-image: url("grafik/fugl.png");
    background-size: 100%;
    width: 22vw;
    height: 4.2vw;
    position: absolute;
    top: 30vw;
    left: 50vw;
    z-index: 3;
    transform: scale(0.1, 0.1);
    animation: move 8s infinite linear;
    animation-name: fugllll;
    animation-delay: 4s;

}


@keyframes fugll {
    0% {
        left: 73vw;
        top: 21vw;
    }
    20% {
        left: 74vw;
        top: 22vw;
    }
    50% {
        left: 75vw;
        top: 23vw;
    }
    75% {
        left: 74vw;
        top: 22vw;
    }
    100% {
        left: 73vw;
        top: 21vw;
    }
}

@keyframes fuglll {
    0% {
        left: 70vw;
        top: 20vw;
    }
    50% {
        left: 70vw;
        top: 19vw;
    }
    100% {
        left: 70vw;
        top: 20vw;
    }
}

@keyframes fugllll {
    0% {
        left: 35vw;
        top: 20vw;
    }
    50% {
        left: 37vw;
        top: 19vw;
    }
    100% {
        left: 35vw;
        top: 20vw;
    }
}

/*------Style--------*/

a {
    display: inline-block;
    width: 120px;
    text-align: center;
    margin: 1em;
    padding: 0.5em;
    font-family: 'Amatic SC', cursive;
    color: coral;
    font-size: 2em;
    text-decoration: none;
    flex-basis: 300px;
    background-color: skyblue;
}
