body {
    margin: 0;
    padding: 0;
}

#scene {

    width: 100vw;
    /* svarer til 2600px */
    height: 56.25vw;
    /* svarer til 900 px */
    position: relative;

}


#baggrund {
    background-image: url("grafik/baggrund-01.svg");
    background-size: 162.5%;
    width: 100vw;
    height: 56.5vw;
    position: relative;
    background-size: cover;

}

.baggrund_moving {
    background-position: 0 0;
    background-repeat: repeat-x;
    animation: animate 15% linear infinite;
}

@keyframes animate {

    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 0;
    }
}



/* -------- GORILLA WALK -------- */

#gorilla_sprite {

    background-image: url(grafik/Artboard%201.svg);
    background-size: 900% 500%;
    left: -35vw;
    top: 7vw;

    width: 27.25vw;
    height: 39.25vw;

    border: 1px solid black;

}

#gorilla_container {
    position: absolute;
}

.walk_gorilla {
    animation-name: walk_gorilla_kf;
    animation-duration: 1s;
    animation-timing-function: steps(7);
    animation-iteration-count: infinite;
}


@keyframes walk_gorilla_kf {

    from {
        background-position: 0% 0%;
    }

    to {
        background-position: -700% -0%;
    }

}

.moving_gorilla {

    animation-name: moving_gorilla_kf;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}

@keyframes moving_gorilla_kf {

    0% {
        left: -35vw;
        top: 13vw;
    }

    100% {
        left: 35vw;
        top: 13vw;
    }

}



/* -------- GORILLA SIT -------- */

.sit_gorilla {
    background-position: 0 -400%;
}

/*--------- GORILLA SPIS------*/

.gorilla_spis {
    animation-name: gorilla_spis_kf;
    animation-duration: 5s;
    animation-timing-function: steps(6);
    animation-delay: 6.7s;
}

@keyframes gorilla_spis_kf {
    from {
        background-position: 0% -300%;
    }
    to {
        background-position: -600% -300%;
    }
}


/*------- Gorilla Går og får skildpadde i hovedet ------ */

.moving_gorilla2 {

    animation-name: moving_gorilla2_kf;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}

@keyframes moving_gorilla2_kf {

    0% {
        left: 35vw;
        top: 13vw;
    }

    100% {
        left: 55vw;
        top: 13vw;
    }

}

/*----------- Gorilla faldt --------- */

.gorilla_faldt {
    animation-name: gorilla_faldt_kf;
    animation-duration: 5s;
    animation-timing-function: steps(9);
    animation-fill-mode: backwards;

}

@keyframes gorilla_faldt_kf {
    from {
        background-position: 0% -100%;
    }
    to {
        background-position: -900% -100%;
    }
}


/* ---------- Gorilla cry -------- */

.gorilla_cry {
    background-position: -800% -100%;
}


/*--------- GORILLA PLASTER -------- */

.gorilla_plaster {
    background-position: 0 -200%;
    animation-fill-mode: backwards;

}


/*---- ABE START-------*/

#abe_sprite {

    background-image: url(grafik/abesprite.svg);
    background-size: 800% 500%;
    position: absolute;

    width: 16vw;
    height: 24vw;

    border: 1px solid black;
    z-index: 4;
}


#abe_container {
    position: absolute;
}


.walk_banana_abe {
    animation-name: walk_banana_abe_kf;
    animation-duration: 1s;
    animation-timing-function: steps(8);
    animation-iteration-count: infinite;

}

@keyframes walk_banana_abe_kf {
    from {
        background-position: 0% -100%;
    }
    to {
        background-position: -800% -100%;
    }
}

.walk_abe {
    animation-name: walk_abe_kf;
    animation-duration: 1s;
    animation-timing-function: steps(8);
    animation-iteration-count: infinite;

}

@keyframes walk_abe_kf {
    from {
        background-position: 0% 0%;
    }
    to {
        background-position: -800% 0%;
    }
}

.moving_abe {
    animation-name: moving_abe_kf;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes moving_abe_kf {

    0% {
        left: -20vw;
        top: 27vw;
    }

    100% {
        left: 32vw;
        top: 27vw;
    }
}

.moving_abe2 {
    animation-name: moving_abe2_kf;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes moving_abe2_kf {

    0% {
        left: 32vw;
        top: 27vw;
    }

    100% {
        left: 40vw;
        top: 27vw;
    }
}

abe_center {
    animation-name: abe_center_kf;
    animation-iteration-count: infinite;
}

@keyframes abe_center_kf {

    100% {
        left: 35vw;
        top: 25vw;
    }
}


/* Abe vred */

.abe_vred {
    animation-name: abe_vred_kf;
    animation-duration: 1s;
    animation-timing-function: steps(2);
    animation-iteration-count: infinite;

}

@keyframes abe_vred_kf {
    from {
        background-position: 0% -200%;
    }
    to {
        background-position: -200% -200%;
    }
}


/*------ ABE STÅR BANAN--------- */

.still_banana_abe {
    animation-name: still_banana_abe_kf;
    animation-duration: 2s;
    animation-iteration-count: infinite;

}

@keyframes still_banana_abe_kf {
    from {
        background-position: 0% -100%;
    }
    to {
        background-position: 0% -100%;
    }
}

/*------------ ABE GRINER -----------*/

.abe_griner {
    animation-name: abe_griner_kf;
    animation-duration: 7s;
    animation-timing-function: steps(4);
    animation-fill-mode: both;

}

@keyframes abe_griner_kf {
    from {
        background-position: 0% -300%;
    }
    to {
        background-position: -400% -300%;
    }
}




/*---------------- ABE PLASTER -------- */

.abe_plaster {
    animation-name: abe_plaster_kf;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(3);

}

@keyframes abe_plaster_kf {
    from {
        background-position: 0% -400%;
    }
    to {
        background-position: -300% -400%;
    }
}



/* ------SKILDPADDE--------*/

#skildpadde {
    background-image: url(grafik/skildpaddeskjold.png);
    background-size: 100%;
    width: 6.2vw;
    height: 4vw;
    position: absolute;
    border: 1px solid black;
    left: 80vw;
    top: 45vw;
    z-index: 5;
}

.skildpadde_falder {
    animation-name: skildpadde_falder_kf;
    animation-duration: 1s;
    animation-delay: 5s;

}

@keyframes skildpadde_falder_kf {

    0% {
        left: 71vw;
        top: -77vw;
    }
    75% {
        left: 71vw;
        top: 27vw;
    }
    100% {
        left: 80vw;
        top: 45vw;
    }
}




#forgrund {
    background-image: url("grafik/forgrund-01.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 163vw;
    height: 56.25vw;
    position: absolute;
    z-index: +100;

}



/*--------- BIRD -------- */

#fugl1 {
    background-image: url("grafik/fugl.png");
    background-size: 100%;
    width: 22vw;
    height: 4.2vw;
    position: absolute;
    top: 20vw;
    left: 100vw;
    z-index: 2;
    transform: scale(0.1, 0.1);
    animation: move 15s infinite linear;
    animation-name: fugll;

}

#fugl2 {
    background-image: url("grafik/fugl.png");
    background-size: 100%;
    width: 22vw;
    height: 4.2vw;
    position: absolute;
    top: 20vw;
    left: 100vw;
    z-index: 2;
    transform: scale(0.1, 0.1);
    animation: move 15s infinite linear;
    animation-name: fugll;
    animation-delay: 2s;

}

#fugl3 {
    background-image: url("grafik/fugl.png");
    background-size: 100%;
    width: 22vw;
    height: 4.2vw;
    position: absolute;
    top: 20vw;
    left: 100vw;
    z-index: 2;
    transform: scale(0.1, 0.1);
    animation: move 10s infinite linear;
    animation-name: fuglll;

}

#fugl4 {
    background-image: url("grafik/fugl.png");
    background-size: 100%;
    width: 22vw;
    height: 4.2vw;
    position: absolute;
    top: 30vw;
    left: 50vw;
    z-index: 2;
    transform: scale(0.1, 0.1);
    animation: move 8s infinite linear;
    animation-name: fugllll;

}

#fugl5 {
    background-image: url("grafik/fugl.png");
    background-size: 100%;
    width: 22vw;
    height: 4.2vw;
    position: absolute;
    top: 30vw;
    left: 50vw;
    z-index: 2;
    transform: scale(0.1, 0.1);
    animation: move 8s infinite linear;
    animation-name: fugllll;
    animation-delay: 4s;

}


@keyframes fugll {
    0% {
        left: 73vw;
        top: 21vw;
    }
    20% {
        left: 74vw;
        top: 22vw;
    }
    50% {
        left: 75vw;
        top: 23vw;
    }
    75% {
        left: 74vw;
        top: 22vw;
    }
    100% {
        left: 73vw;
        top: 21vw;
    }
}

@keyframes fuglll {
    0% {
        left: 70vw;
        top: 20vw;
    }
    50% {
        left: 70vw;
        top: 19vw;
    }
    100% {
        left: 70vw;
        top: 20vw;
    }
}

@keyframes fugllll {
    0% {
        left: 35vw;
        top: 20vw;
    }
    50% {
        left: 37vw;
        top: 19vw;
    }
    100% {
        left: 35vw;
        top: 20vw;
    }
}

/*------Style--------*/

a {
    display: inline-block;
    width: 120px;
    text-align: center;
    margin: 1em;
    padding: 0.5em;
    font-family: 'Amatic SC', cursive;
    color: coral;
    font-size: 2em;
    text-decoration: none;
    flex-basis: 300px;
    background-color: skyblue;
}


/* ------------- STYLETILE ---------- */

#styletile_container {
    background-image: url("grafik/styletile.png");
    background-size: 162.5%;
    width: 100vw;
    height: 56.5vw;
    position: relative;
    background-size: cover;

}

.styletile_move {
    animation-name: styletile_move_kf;
    animation-duration: 1s;
    animation-timing-function: steps(2);
    animation-iteration-count: infinite;
}

@keyframes styletile_move_kf {

    from {
        background-position: 0 0;
    }
    to {
        background-position: -199% 0;
    }
}
